<div>
  <!--Navbar-->
  <nav class="navbar navbar-expand-lg navbar-dark primary-color">

    <!-- Navbar brand -->
    <!-- <a class="navbar-brand" routerLink='formation'>DEV-4-2021</a> -->

    <!-- Collapse button -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#basicExampleNav"
      aria-controls="basicExampleNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Collapsible content -->
    <div class="collapse navbar-collapse" id="basicExampleNav">

      <!-- Links -->
      <ul class="navbar-nav mr-auto nav-fill w-100">
        <li class="nav-item" routerLinkActive='active'>
          <a class="nav-link" routerLink='formation'> Formation
            <span class="sr-only">(current)</span>
          </a>
        </li>
        <li class="nav-item" routerLinkActive='active'>
          <a class="nav-link" routerLink='session-formation'>Session de formation</a>
        </li>
        <li class="nav-item" routerLinkActive='active'>
          <a class="nav-link" routerLink='exemple-projet'>Exemple de projet</a>
        </li>

        <li class="nav-item" routerLinkActive='active'>
          <a class="nav-link"> <span style="vertical-align: middle;" (click)='deconnexion()' class="material-icons">
              logout
            </span></a>
        </li>

      </ul>
      <!-- Links -->

      <!-- <form class="form-inline">
        <div class="md-form my-0">
          <span class="material-icons">
            logout
          </span>
        </div>
      </form> -->
    </div>
    <!-- Collapsible content -->

  </nav>
  <!--/.Navbar-->
</div>

<div class="container mt-4">
  <h2 class="text-center titre_grand">DEV-4-2021</h2>

  <div>

  </div>

</div>

<br><br>



<router-outlet></router-outlet>