<div class="container">
    <h2 class="text-secondary" style="letter-spacing: 6px;">Voici les détail de la formation <span style="background-color: rgb(170, 65, 202); color: white; border-radius: 4px; padding: 3px;">{{ data.nom }}</span></h2>
    <div *ngFor='let sf of sessionFormation'>
        <div class="card p-3">
            <div class="row">
                <div class="col-sm-3">
                    {{ sf.formation.nom }}
                </div>
                <div class="col-sm-3">
                    {{ sf.dateDebut | date: 'dd/MM/yyyy'}}
                </div>
                <div class="col-sm-3">
                    {{ sf.dateFin | date: 'dd/MM/yyyy' }}
                </div>
                <div class="col-sm-3 text-center">
                    {{ sf.nbPlace }}
                </div>
            </div>
        </div>
        <br>
    </div>
</div>