/* You can add global styles to this file, and also import other style files */

.titre_grand{
    letter-spacing: 4px;
    font-family: 'Noto Serif';
    color: darkgray;
    font-weight: bold;
}

.nav_active{
    color: tomato !important ;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
